*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  --px: 1.6rem;
  --py: 6.4rem;

  --primary: #062630;
  --primary-light: #385159;

  --secondary: #fea36f;
  --secondary-light: #ffe2d1;
  --light: #fff5ef;

  --gray: #e6e1df;
  --gray-light: #faf5f3;
  --white: #fff;

  --font-heading: "Martian Mono", monospace;
  --font-base: "Inter", sans-serif;
  --text-color: var(--primary);

  --gradient-primary: linear-gradient(to right, #385159, #062630);

  --gradient-secondary: linear-gradient(
    to right,
    var(--secondary-light) 0%,
    var(--light) 100%
  );

  --section-img-height: 31.85rem;
  --max-text-width: 51.2rem;

  --subtitle-font-size: 3.4rem;
}

html {
  font-size: 62.5%;
  font-family: var(--font-base);

  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  color: var(--text-color);
}

// Utilities Start

a,
button,
.primary-btn {
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  border: none;
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--light);
  border-radius: 0.8rem;

  padding: 1.6rem 2.3rem;

  display: inline-flex;
  align-items: center;
  gap: 1.6rem;

  text-transform: uppercase;
  text-decoration: none;

  &.dark {
    background-color: transparent;
    border-color: var(--white);

    .btn-text {
      color: var(--white);
    }

    &:hover {
      background-image: var(--gradient-primary);
    }

    &:focus-visible {
      outline-color: var(--white);
    }
  }

  &:hover {
    background-image: var(--gradient-secondary);
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 0.3rem;
  }
}

.btn-text {
  font-family: var(--font-heading);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
  color: var(--primary);
}

.section-img-wrapper {
  margin-top: 4rem;
  height: var(--section-img-height);

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 0.8rem;
  }
}

hr {
  border: none;

  height: 1px;
  background-color: var(--gray);

  width: 100%;
}

// Utilities End

// Hero Start

.hero {
  padding: 2.4rem var(--px) 8rem;

  background-image:
    url(./images/shared/pattern-light-bg.svg),
    url(./images/shared/pattern-glow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:
    center,
    bottom -80rem right -60rem;
}

.hero-container {
  margin-top: 4.8rem;
}

h1 {
  max-width: 34.3rem;
  background-image: var(--gradient-primary);
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -2px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: var(--font-heading);
}

.hero-text {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: var(--primary-light);

  margin-block: 2.4rem 3.2rem;

  max-width: var(--max-text-width);
}

.reviews {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  margin-block: 2rem 6.4rem;

  &.dark {
    .reviews-right p {
      color: var(--white);
    }
  }
}

.review-icons {
  width: 11rem;

  img {
    width: 100%;
  }
}

.reviews-right {
  p {
    font-family: var(--font-heading);
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--primary-light);
  }
}

.hero-img-wrapper {
  height: 38.49rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 0.8rem;
  }
}
// Hero End

// Read Start

.read-together {
  padding: var(--py) var(--px) 0;
}

.read-content {
  h2 {
    font-family: var(--font-heading);
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;
    color: var(--primary);

    margin-bottom: 2.4rem;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    margin-bottom: 1.6rem;

    p {
      font-size: 2rem;
      line-height: 1.4;
      letter-spacing: -0.5px;
      color: var(--primary-light);
    }
  }
}

// Read End

// Club Start

.club {
  padding: var(--py) var(--px);
  position: relative;
}

.tech-logos {
  display: none;
}

.club-content {
  h2 {
    font-family: var(--font-heading);
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;
    color: var(--primary);

    margin-bottom: 2.4rem;
  }

  p {
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--primary-light);

    max-width: var(--max-text-width);
  }
}

.circle {
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 126%;
  }
}

// Club End

// Journey Start

.journey {
  padding: var(--py) 1.6rem;
  margin-inline: auto;
  width: calc(100% - var(--px) - var(--px));

  background-image:
    url(./images/shared/pattern-light-bg.svg),
    url(./images/shared/pattern-glow.svg);

  background-color: var(--gray-light);

  background-repeat: no-repeat;
  background-size: cover;

  background-position:
    center,
    bottom -30rem right -30rem;

  border-radius: 1.4rem;
  overflow: hidden;

  h2 {
    font-family: var(--font-heading);
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;
    color: var(--primary);
  }
}

.steps {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  font-family: var(--font-heading);
  color: var(--primary);

  p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -1px;
  }
}

.count {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  border: 2px solid var(--primary);

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;

  margin-bottom: 2rem;
}

// Journey End

// Membership Start
#memberships {
  scroll-margin-top: 5rem;
}

.membership {
  padding: var(--py) var(--px) 0;

  h2 {
    font-family: var(--font-heading);
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;

    margin-bottom: 2.4rem;
  }
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}

.option {
  padding: 2.4rem;
  border: 1px solid var(--gray);
  border-radius: 0.8rem;

  h3 {
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -1px;

    margin-bottom: 2.4rem;
  }

  hr {
    margin-block: 2.4rem;
  }

  ul {
    list-style: none;

    margin-bottom: 3.2rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    margin-bottom: 1.8rem;

    p {
      font-size: 2rem;
      line-height: 1.4;
      letter-spacing: -0.5px;
      color: var(--primary-light);
    }
  }

  .primary-btn {
    width: 100%;
    justify-content: center;

    padding-block: 2rem;
  }

  &.best-seller {
    background-color: var(--gray-light);
    background-image: url(./images/shared/pattern-glow.svg);
    background-repeat: no-repeat;
  }
}

.price {
  font-family: var(--font-heading);
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  span {
    font-family: var(--font-base);
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: var(--primary-light);
  }
}

// Membership End

// Feedback Start

.feedback {
  padding: var(--py) var(--px);

  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

.feedback-stars {
  margin-inline: auto;
}

.feedback-text {
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;

  max-width: var(--max-text-width);
}

.feedback-author {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: var(--primary-light);
}
// Feedback End

// Footer Start

.footer {
  padding: var(--py) var(--px) 2.4rem;
  background-image: url(./images/shared/pattern-dark-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--primary);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 2rem 2rem 0 0;

  h2 {
    font-family: var(--font-heading);
    font-size: var(--subtitle-font-size);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;
    text-align: center;
    color: var(--gray-light);

    margin-bottom: 4rem;
  }

  .primary-btn {
    margin-bottom: 2.4rem;
  }

  hr {
    background-color: var(--primary-light);
  }
}

footer {
  padding: 2.4rem 3.2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  p {
    font-family: var(--font-heading);
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--white);
  }
}

.social-links {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 2.4rem;

  a {
    border-radius: 0.3rem;

    &:hover {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: 2px solid var(--white);
      outline-offset: 0.3rem;
    }
  }
}

// Footer End

// Tablet View

@media (min-width: 768px) {
  :root {
    --px: 3.2rem;
    --py: 8rem;
    --section-img-height: 65.37rem;
    --max-text-width: 70.4rem;
    --max-text-width: 80rem;
    --subtitle-font-size: 5rem;
  }

  // Utilities Start

  .btn-text {
    font-size: 1.8rem;
  }

  // Utilities End

  // Hero Start

  .hero {
    padding-top: 3.2rem;

    background-position:
      center,
      bottom -100rem right -90rem;
  }

  .hero-container {
    margin-top: 6.4rem;
  }

  h1 {
    max-width: 70.4rem;
    font-size: 6.2rem;
  }

  .hero-img-wrapper {
    height: 79rem;
  }
  // Hero End

  // Read Start

  .read-content {
    h2 {
      margin-bottom: 3.4rem;
    }

    li {
      margin-bottom: 2.4rem;
    }
  }

  // Read End

  // Club Start

  .club-content {
    h2 {
      max-width: 53.4rem;
    }
  }

  // Club End

  // Journey Start

  .journey {
    padding-inline: 2.6rem;
  }

  .steps {
    margin-top: 5rem;

    gap: 4rem;

    p {
      font-size: 1.8rem;
    }
  }

  .count {
    width: 4rem;
    height: 4rem;
    margin-bottom: 2.5rem;
  }

  // Journey End

  // Membership Start

  .membership {
    h2 {
      margin-bottom: 4rem;
    }
  }

  .options {
    grid-template-columns: 1fr 1fr;
  }

  // Membership End

  // Feedback Start

  .feedback-stars {
    margin-inline: unset;
  }

  .feedback-text {
    font-size: 3.4rem;
    max-width: 100rem;
  }

  // Feedback End

  // Footer Start

  .footer {
    padding-inline: 0;
  }

  footer {
    width: 100%;
    padding-inline: var(--px);

    flex-direction: row;
    justify-content: space-between;
  }

  // Footer End
}

// Desktop View

@media (min-width: 1440px) {
  :root {
    --px: 13.5rem;
    --py: 12rem;
    --section-img-height: 52rem;
    --max-text-width: 53rem;
  }

  //   Utilities Start

  .section-img-wrapper {
    margin: 0;
    img {
      border-radius: 2.5rem;
    }
  }
  //   Utilities End

  // Hero Start

  .hero {
    background-position:
      center,
      bottom -70rem right -90rem;
  }

  .hero-container {
    margin-top: 8rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 6.4rem;
  }

  h1 {
    max-width: 57rem;
  }

  .hero-img-wrapper {
    height: 60.6rem;
  }
  // Hero End

  // Read Start

  .read-together {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    gap: 8rem;

    .read-content,
    .section-img-wrapper {
      width: 50%;
    }
  }

  // Read End

  // Club Start

  .club {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 8rem;
  }

  .tech-logos {
    display: block;

    position: absolute;
    left: 50%;
    bottom: calc(3.1rem + var(--py));
    transform: translateX(-50%);
  }

  .club-content {
    h2 {
      max-width: 53.4rem;
    }
  }

  // Club End

  // Journey Start

  .journey {
    padding: 8rem 6rem 6.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-position:
      center,
      bottom -60rem right -60rem;

    h2 {
      max-width: 51.2rem;
      text-align: center;
    }
  }

  .steps {
    margin-top: 7rem;

    grid-template-columns: repeat(4, 1fr);
  }

  .step {
    background-image: url(./images/shared/pattern-arrow.svg);
    background-repeat: no-repeat;
    background-position: top 0 right;
  }

  // Journey End

  // Membership Start

  .membership {
    padding-inline: calc(var(--px) + 10rem);

    h2 {
      margin-bottom: 6.4rem;
      text-align: center;
    }
  }

  .options {
    grid-template-columns: 0.95fr 1.1fr 0.95fr;
  }

  .option {
    &:not(.best-seller) {
      margin-block: 1.6rem;
    }

    &.best-seller {
      padding-block: 4rem;
    }
  }

  // Membership End

  // Feedback Start

  .feedback {
    align-items: center;
    text-align: center;
  }

  .feedback-stars {
    margin-inline: unset;
  }

  .feedback-text {
    max-width: 97rem;
  }

  // Feedback End

  // Footer Start

  .footer {
    padding-inline: var(--px);

    h2 {
      max-width: 68.5rem;
    }
  }

  footer {
    padding-inline: 0;
  }

  // Footer End
}
